<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gemini.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PriceTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49310FE21F5C7086006878E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49999FCE1F57BC2800B8C28F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49999FEA1F57BC2800B8C28F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49999FF51F57BC2800B8C28F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
